@font-face {
  font-family: 'custom-i3-font';
  src: url('../font/custom-i3-font.eot?99406601');
  src: url('../font/custom-i3-font.eot?99406601#iefix') format('embedded-opentype'),
       url('../font/custom-i3-font.woff2?99406601') format('woff2'),
       url('../font/custom-i3-font.woff?99406601') format('woff'),
       url('../font/custom-i3-font.ttf?99406601') format('truetype'),
       url('../font/custom-i3-font.svg?99406601#custom-i3-font') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'custom-i3-font';
    src: url('../font/custom-i3-font.svg?99406601#custom-i3-font') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "custom-i3-font";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-wifi-on:before { content: '\e800'; } /* '' */
.icon-calendar:before { content: '\e806'; } /* '' */
.icon-eth-connected:before { content: '\e808'; } /* '' */
.icon-wifi-off:before { content: '\e809'; } /* '' */
.icon-volume-off:before { content: '\e80c'; } /* '' */
.icon-volume-on:before { content: '\e80d'; } /* '' */
.icon-battery-charging:before { content: '\e80e'; } /* '' */
.icon-day-cloudy-windy:before { content: '\f000'; } /* '' */
.icon-day-cloud:before { content: '\f002'; } /* '' */
.icon-day-fog:before { content: '\f003'; } /* '' */
.icon-day-hail:before { content: '\f004'; } /* '' */
.icon-day-lightning:before { content: '\f005'; } /* '' */
.icon-day-rain:before { content: '\f008'; } /* '' */
.icon-day-snow:before { content: '\f00a'; } /* '' */
.icon-day-partly-cloudy:before { content: '\f00c'; } /* '' */
.icon-day-clear:before { content: '\f00d'; } /* '' */
.icon-day-thunderstorn:before { content: '\f010'; } /* '' */
.icon-day-light-rain:before { content: '\f01c'; } /* '' */
.icon-night-cloudy-windy:before { content: '\f022'; } /* '' */
.icon-night-lightning:before { content: '\f025'; } /* '' */
.icon-night-rain:before { content: '\f028'; } /* '' */
.icon-night-snow:before { content: '\f02a'; } /* '' */
.icon-night-thunderstorm:before { content: '\f02d'; } /* '' */
.icon-night-clear:before { content: '\f02e'; } /* '' */
.icon-night-cloud:before { content: '\f031'; } /* '' */
.icon-night-hail:before { content: '\f032'; } /* '' */
.icon-night-light-rain:before { content: '\f039'; } /* '' */
.icon-night-fog:before { content: '\f04a'; } /* '' */
.icon-day-snow-thunderstorm:before { content: '\f06b'; } /* '' */
.icon-night-snow-thunderstorm:before { content: '\f06d'; } /* '' */
.icon-night-partly-cloudy:before { content: '\f083'; } /* '' */
.icon-cpu:before { content: '\f0e4'; } /* '' */
.icon-eth-disconnected:before { content: '\f127'; } /* '' */
.icon-plug:before { content: '\f1e6'; } /* '' */
.icon-battery-full:before { content: '\f240'; } /* '' */
.icon-battery-three-quarter:before { content: '\f241'; } /* '' */
.icon-battery-half:before { content: '\f242'; } /* '' */
.icon-battery-one-quarter:before { content: '\f243'; } /* '' */
.icon-battery-empty:before { content: '\f244'; } /* '' */
.icon-memory:before { content: '\f2db'; } /* '' */